
  h1,
  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #790065;
  }
  
 
  
  .vaccine-newvaccine,
  .vaccine-updatevaccine,
  .search-bar-vaccine,
  .list {
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(245, 238, 230);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .vaccine-newvaccine input,
  .vaccine-updatevaccine input,
  .searchBarVaccine input,
  .vaccine-newvaccine select,
  .vaccine-updatevaccine select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgb(230, 164, 180);
    border-radius: 5px;
    
  }
  
  .vaccine-newvaccine button,
  .vaccine-updatevaccine button,
  .search-bar-vaccine button,
  .search-bar-reset button {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 1rem;
    color: rgb(255, 248, 227);
    background-color: rgb(243, 215, 202);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .vaccine-newvaccine  button:hover,
  .vaccine-updatevaccine button:hover,
  .search-bar-vaccine button:hover,
  .search-bar-reset button:hover {
    background-color: rgb(230, 164, 180);
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    border: 1px solid rgb(230, 164, 180);
    text-align: left;
  }
  
  .table th {
    background-color: rgb(243, 215, 202);
    color: rgb(0, 0, 0);
    padding: 12px 48px;
  }
  
  .table td {
    background-color: rgb(245, 238, 230);
    color: rgb(0, 0, 0);
  }
  
  .table tr:nth-child(even) {
    background-color: rgb(245, 238, 230);
  }
  
  .table tr:hover {
    background-color: rgb(243, 215, 202);
  }
  
  span {
    cursor: pointer;
    margin: 5px;
  }
  